@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Titan+One&display=swap');

body {
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-family: 'Bungee',
  cursive;
  color: rgb(253, 78, 55);
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 0;
}

button {
  padding: 10px;
  font-weight: 900;
  background: rgb(253, 78, 55);
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  background: rgb(253, 78, 55);
}


.spin{
  display: flex;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 10px;
}
.reel{
  font-family: 'Titan One', cursive;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 20px 10px;
  border: 1px solid #fff;
  flex: 1;
}

.red{
  background: crimson;
  color: #fff;
}
.green{
  background: darkgreen;
  color: #fff;
}
.yellow{
  background: rgb(255, 238, 0);
  color: rgb(134, 127, 17);
}
.yellow-dark{
  background: rgb(204, 174, 1);
  color: #fff;
}